
<% @tops.each do |top| %>
  <h1><%= get_genre_name(top.genre) %> Top Tracks</h1>
    <div class="top-10">
      <ol id="<%= top.genre %>">
        <% find_top_tracks(top).each do |track| %>
          <li>
          <ul>
            <li id="track-id<%= track.id %>"><%=track.title%> </li>
            <li> <% track.artists.each do |artist| %>
              <%= artist.name %>
              <%= "," unless artist == track.artists.last %>
              <% end %>
            </li>
            <li> <%= track.label.name %></li>
          </li>
        </ul>
        <% end %>
      </ol>
    </div>
<% end %>
